@using BasketBet.Web.ViewModels
@model List<TeamVM>

@{
    ViewData["Title"] = "Table Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach (var team in Model)
    {
        <h4>@team.Name</h4>
        <p>@team.Wins  :  @team.Looses  :  @team.WinningPercentage  :  @team.Conference</p>
    }
</div>
